body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff; 
    background-image: url('../storage/img/img3.webp'); /* Añadir la ruta de tu imagen aquí */
    background-size: cover; /*  */
    background-repeat: no-repeat;
    background-position:center;
}




main {
    position: fixed; 
    left: 35; 
    width: 100%;
    height: 100%;
    overflow: auto; 
  }


.title{
    font-size:5rem;
}

.container {
    display: flex;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.left-panel, .center-panel, .right-panel {
    padding: 20px;
}

.left-panel {
    width: 20%;
}

.center-panel {
    width: 60%;
    text-align: center;
    
}

.right-panel {
    width: 20%;
}

.title {
    font-size: 4em;
}

.system-check {
    font-size: 1em;
    margin-bottom: 5px;
}

.status {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.status.normal {
    color: #dd2525;
    text-align: center;
}

.status.applied {
    color: #dd2525;
}

.status.awaiting {
    color: #dd2525;
}

.status.connected {
    color: #dd2525;
}
/* 
.connections {
    margin-top: 20px;
} */



.rocket-image {
    margin-left: 30%;
    display: flex;
    width: 400px;
    height: 300px;
    overflow-x: auto;
    gap: 50px;
    white-space: nowrap;
    margin-top: -50px;
    margin-bottom: -15%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
   
}

.carousel img {
    width: 400px; /* Ancho del contenedor principal */
    height: auto; /* Para mantener la proporción de la imagen */
    flex: 0 0 auto; 
    margin-right: 20px; 
}



.gauge {
    width: 200px;
    height: 200px;
    background-color: #1a1c3a5b;
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 60px;
    border-style: groove;
    margin-left: 45PX;

    
}

.title{
    font-size: 2rem;
}

.otro{
    width: 200px;
    height: 200px;
    background-color: #1a1c3a57;
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-left: 35px;
    border-style:groove;
}




.gauge__body {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: conic-gradient(#00aaff 0%, #00aaff 60%, #0a0e27 60%, #0a0e27 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gauge__fill {
    width: 80%;
    height: 80%;
    background:#0a0e27;
    border-radius: 50%;
    position: absolute;
}

.gauge__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.gauge__text {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #dd2525;
}

.gauge__value {
    font-size: 1em;
}

.metric {
    display: inline-block;
    width: 22%;
    margin: 10px;
    padding: 20px;
    background-color: #1a1c3a7c;
    border-radius: 10px;
    text-align: center;
    border-style:groove;
}

.metric-title {
    font-size: 1em;
    color:#dd2525;
}

.metric-value {
    font-size: 1.2em;
    margin-top: 10px;

}

.rocket-image{
    display: flex;
    overflow-x: scroll;
    margin-top:10%

}
.carousel{
    /* background: #dd2525; */
    width: 200px;
    height: 100%;
    min-width: 100%;
}

.rocket-image img {
    width: 100%;
    
}

.right-metric {
    margin-bottom: 20px;
    background-color: #16172c5e;
    height:60px ;
    padding: 20px;
    border-radius: 20%;
    border-style:groove;
}

.right-title {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
}

.right-bar {
    width: 100%;
    height: 8px;
    background-color: #2d2d2d;
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.right-fill {
    height: 100%;
    background-color:  #dd2525;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.right-value {
    font-size: 1.2em;
    text-align: center;
}

.content {
    flex: 1;
}

.content {
    flex: 1;
}

.footer {
    background-color: #16172c;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 180px;
    
}



.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
    
    
}

.footer li {
    display: inline-block;
    margin: 0 10px; /* Espaciado horizontal entre los elementos */
}

.footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
}

.footer a img {
    width: 30px; /* Ajusta el tamaño de las imágenes */
    height: 30px;
    margin-bottom: 5px;
}

/* Opcional: cambiar el color del texto cuando se pase el ratón por encima */
.footer img:hover {
    color: #FF4500; /* Cambia el color del texto al pasar el ratón */
}


.informationbuttom{
    z-index: 10;
    position: fixed;
    bottom: 65px;
    right: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.informationbuttom a {
    display: flex;
    color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 4vh;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}

.left-rocket{
    width: 90%;

    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
}

.left-circle{
    width: 40%;
    height: 60px;
    background-color: #1a1c3a62;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
    margin-bottom: 25px;

}

.left-circle-titlt{
    text-align: center;

}



.WIKIPEDIA{
    width: 95%;
    height: 80px;
    background-color: #1a1c3a71;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
}

.wikitext{
    margin-top: 11px;
    font-size: 1rem;
    text-align: center;
  
}


.wikititle{
    color: #dd2525;
    text-align: center;
}

.right-circle{
    width: 40%;
    height: 60px;
    background-color: #1a1c3a7e;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
}

.imagen img{
    width: 10px;
}


.engines{
    background-color: #1a1c3a70;
    text-align: center;
    padding: 10px;
    border-style:groove;
    margin-bottom: 25px;
    border-radius: 10%;
}

.informacion{
    display: flex;
    justify-content: space-between;
}
.elongif1{
    width: 250px;
    border-radius: 20%;
    margin-bottom:25px
}


.left-caposules{
    background-color:#1a1c3a70;
    padding: 15px;
    border-style: groove;
    border-radius: 30%;
}

.originGif {
    width: 400px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 15px;
}

.originGif img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
}

.enginescAPSULES{
    background-color: #1a1c3a70;
    text-align: center;
    padding: 10px;
    border-style:groove;
    margin-bottom: 25px;
    border-radius: 10px;
}


.elonvaquero {
    width: 250px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170%;
}

.elonvaquero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
}

.elonvaquero2 {
    width: 250px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170%;
    margin-left: 65px;
}

.elonvaquero2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
}


.title{
    font-size: 2rem;
    margin-bottom: 15px;
}

.eloncolor {
    width: 350px;
    height: 25vh;
    margin-left: 30%;
    margin-bottom: 20px;
}

.eloncolor img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
}



.gauge1 {
    width: 200px;
    height: 200px;
    background-color: #1a1c3a5b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border-style: groove;
    margin-left: 65PX;
    margin-bottom: 25px;
    
}


.gauge2 {
    width: 200px;
    height: 200px;
    background-color: #1a1c3a5b;
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 60px;
    border-style: groove;
    margin-left: 55PX;
    margin-bottom: 25px;
 
    
}

.left-circleCrew{
    width: 40%;
    height: 60px;
    background-color:  #1a1c3a5b;
    padding: 20px;
    border-radius: 50px;
    border-style: groove;
    margin-bottom: 30px;
    margin-left: 43%;
}

.left-circleCrew2{
    width: 40%;
    height: 60px;
    background-color: #1a1c3a62;
    padding: 20px;
    border-radius: 50px;
    border-style: groove;
    margin-left: 43%;
    margin-top: -75px
};


.imagenCrew {
    width: 150px;
    height: 15vh;
    margin-left: 65px;
};

.imagenCrew img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 50%;
};

.metricHistory {
    display: inline-block;
    width: 40%;
    margin: 10px;
    padding: 20px;
    background-color: #1a1c3a6b;
    border-radius: 10px;
    text-align: center;
    border-style:groove;
}

.left-circleHistory{
    width: 40%;
    height: 10vh;
    background-color: #1a1c3a62;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
    margin-bottom: 25px;
    margin-left: 23%;

}

.historico{
    
    width: 500px;
    height: 30vh;
    margin-top: 10%;
    border-radius: 30%;
    margin-left: 60px;

}

.historico img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-left: 108px;
}


.CrewImagen{
    width: 300px;
    height: 40vh;
    margin-left: 65px;

}.CrewImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 55%;
}


.CrewImagen2{
    width: 300px;
    height: 40vh;
    margin-left: -60px;


}.CrewImagen2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 55%;
    margin-right: -40px;
}

.elonstar {
    width: 500px;
    height: 30vh;
    margin-left: 25%;
    margin-bottom: 20px;
}

.elonstar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 15px;
}

.gaugestar {
    width: 200px;
    height: 200px;
    background-color: #1a1c3a5b;
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 60px;
    border-style: groove;
    margin-left: 45PX;
    margin-bottom: 25px;    
}

.shipimg{
    width: 500px;
    height: 30vh;
    margin-left: 165px;

}.shipimg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    
}

.left-rocketship{
    width: 110%;

    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
}
.status-normal{
    text-align: center;
}

.system-check{
    text-align: center;
}

.left-circleship{
    width: 40%;
    height: 60px;
    background-color: #1a1c3a62;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
    margin-bottom: 25px;
    margin-left: 135px

}

.elonpay {
    width: 350px;
    height: 20vh;
    margin-left: 30%;
    margin-bottom: 35px;
   
}

.elonpay img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 28px;
}

.gauge__bodylanding {
    width: 70%;
    height: 30%;
    border-radius: 50%;
    background: conic-gradient(#00aaff 0%, #00aaff 60%, #0a0e27 60%, #0a0e27 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
};

.left-rocket{
    width: 90%;
    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
}

.elonlanding {
    width: 350px;
    height: 30vh;
    margin-left: 30%;
    margin-bottom: 20px;
}

.elonlanding img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 65px;
}



.gauge__bodyDragon {
    width: 40%;
    height: 10%;
    border-radius: 50%;
    background: conic-gradient(#00aaff 0%, #00aaff 60%, #0a0e27 60%, #0a0e27 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    padding: 25px;
}

.gauge__textDragon {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    color: #dd2525;
}

.gauge__valueDragon {
    font-size: 0.7em;
}

.left-dragon{
    width: 90%;
    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
    margin-top: 35px;
}


.left-lan{
    width: 90%;
    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
    margin-top: 35px;
}

.Crewlan{
    width: 600px;
    height: 33vh;
    margin-left: 65px;

}.Crewlan img {
    width: 60%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
    margin-top: 5%;
    margin-left: 125px;
}

.launchi{
    width: 550px;
    height: 40vh;
    margin-left: 25%;
}

.launchi img {
    width: 60%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    margin-top: 95px;
}


.left-rocketlanding {
    width: 90%;
    height: 40vh;
    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
    overflow-y: scroll;
}

.left-rocketlanding::-webkit-scrollbar {
    width: 0;  /* Oculta la barra de desplazamiento */
}

.eloncolor {
    width: 350px;
    height: 43vh;
    margin-left: 30%;
    margin-bottom: 20px;
    padding: 20px;
}

.eloncolor img {
    width: 80%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    border-radius: 30%;
    border-style: groove;
}
