body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff; 
    background-image: url('../storage/img/img3.webp'); /* Añadir la ruta de tu imagen aquí */
    background-size: cover; /*  */
    background-repeat: no-repeat;
    background-position:center;
}




main {
    position: fixed; 
    top: 10; 
    left: 35; 
    width: 100%;
    height: 100%;
    overflow: auto; 
  }


.title{
    font-size:5rem;
}

.container {
    display: flex;
    width: 90%;
    height: 90%;
}

.left-panel, .center-panel, .right-panel {
    padding: 20px;
}

.left-panel {
    width: 20%;
}

.center-panel {
    width: 60%;
    text-align: center;
}

.right-panel {
    width: 20%;
}

.title {
    font-size: 4em;
}

.system-check {
    font-size: 1em;
    margin-bottom: 5px;
}

.status {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.status.normal {
    color: #dd2525;
    text-align: center;
}

.status.applied {
    color: #dd2525;
}

.status.awaiting {
    color: #dd2525;
}

.status.connected {
    color: #dd2525;
}
/* 
.connections {
    margin-top: 20px;
} */



.rocket-image {
    margin-left: 30%;
    display: flex;
    width: 400px;
    height: 300px;
    overflow-x: auto;
    gap: 50px;
    white-space: nowrap;
    margin-top: -50px;
    margin-bottom: -15%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
   
}

.carousel img {
    width: 400px; /* Ancho del contenedor principal */
    height: auto; /* Para mantener la proporción de la imagen */
    flex: 0 0 auto; 
    margin-right: 20px; 
}



.gauge {
    width: 200px;
    height: 200px;
    background-color: #1a1c3a;
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 60px;

    
}

.title{
    font-size: 2rem;
}

.otro{
    width: 200px;
    height: 200px;
    background-color: #1a1c3a57;
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-left: 35px;
    border-style:groove;
}




.gauge__body {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: conic-gradient(#00aaff 0%, #00aaff 60%, #0a0e27 60%, #0a0e27 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gauge__fill {
    width: 80%;
    height: 80%;
    background:#0a0e27;
    border-radius: 50%;
    position: absolute;
}

.gauge__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.gauge__text {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #dd2525;
}

.gauge__value {
    font-size: 1em;
}

.metric {
    display: inline-block;
    width: 22%;
    margin: 10px;
    padding: 20px;
    background-color: #1a1c3a7c;
    border-radius: 10px;
    text-align: center;
    border-style:groove;
}

.metric-title {
    font-size: 1em;
    color:#dd2525;
}

.metric-value {
    font-size: 1.2em;
    margin-top: 10px;

}

.rocket-image{
    display: flex;
    overflow-x: scroll;
    margin-top:10%

}
.carousel{
    /* background: #dd2525; */
    width: 200px;
    height: 100%;
    min-width: 100%;
}

.rocket-image img {
    width: 100%;
    
}

.right-metric {
    margin-bottom: 20px;
    background-color: #16172c5e;
    height:60px ;
    padding: 20px;
    border-radius: 20%;
    border-style:groove;
}

.right-title {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
}

.right-bar {
    width: 100%;
    height: 8px;
    background-color: #2d2d2d;
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.right-fill {
    height: 100%;
    background-color:  #dd2525;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.right-value {
    font-size: 1.2em;
    text-align: center;
}

.content {
    flex: 1;
}

.content {
    flex: 1;
}

.footer {
    background-color: #16172c;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 180px;
    
}



.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
    
    
}

.footer li {
    display: inline-block;
    margin: 0 10px; /* Espaciado horizontal entre los elementos */
}

.footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
}

.footer a img {
    width: 30px; /* Ajusta el tamaño de las imágenes */
    height: 30px;
    margin-bottom: 5px;
}

/* Opcional: cambiar el color del texto cuando se pase el ratón por encima */
.footer img:hover {
    color: #FF4500; /* Cambia el color del texto al pasar el ratón */
}


.informationbuttom{
    z-index: 10;
    position: fixed;
    bottom: 65px;
    right: 50px;
    background-color: #16172c85;
    padding: 20px;
    border-style:groove;
    display: flex;
    gap: 15px;
}

.informationbuttom a {
    display: flex;
    color: #ffffff;
}

.left-rocket{
    width: 90%;

    background-color: #1a1c3a6e;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-style: groove;
}

.left-circle{
    width: 40%;
    height: 60px;
    background-color: #1a1c3a62;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
    margin-bottom: 25px;

}

.left-circle-titlt{
    text-align: groove;

}



.WIKIPEDIA{
    width: 95%;
    height: 80px;
    background-color: #1a1c3a71;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
}

.wikitext{
    margin-top: 11px;
    font-size: 1rem;
    text-align: center;
  
}


.wikititle{
    color: #dd2525;
    text-align: center;
}

.right-circle{
    width: 40%;
    height: 60px;
    background-color: #1a1c3a7e;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-style: groove;
}

.imagen img{
    width: 10px;
}


.engines{
    background-color: #1a1c3a70;
    text-align: center;
    padding: 8px;
    border-style:groove;
    margin-bottom: 25px;
}

.informacion{
    display: flex;
    justify-content: space-between;
}
.elongif1{
    width: 250px;
    border-radius: 20%;
    margin-bottom:25px
}